services:
  app:
    build: .
    container_name: vulnerable-app
    networks:
      - homelab-net
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: homelab-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - homelab-net

networks:
  homelab-net:
    driver: bridge
